<%- include('../partials/head.ejs'); %>
<%- include('../partials/nav.ejs'); %>

<div class="row resources-style">
  <div class="col ms-4">
    <form class="d-flex flex-column-reverse gap-2" action="/resources" method="GET">
      <% allCategories.forEach(cat => { %>
        <button class="btn btn-outline-secondary" type="submit" name="category" value="<%= cat %>"><%= cat %></button>
      <% }) %>
      <button class="btn btn-outline-secondary" type="submit" name="category" value="">All</button>
    </form>
  </div>
  <div class="col-md-10">
    <div class="container">
      <div tabindex="0" type="button" class="plusButton" data-bs-toggle="modal" data-bs-target="#addItem">
        <svg class="plusIcon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30">
          <g mask="url(#mask0_21_345)">
            <path d="M13.75 23.75V16.25H6.25V13.75H13.75V6.25H16.25V13.75H23.75V16.25H16.25V23.75H13.75Z"></path>
          </g>
        </svg>
      </div>
      <div class="row">
        <% links.forEach(link => { %>
        <div class="card-group col-lg-3 col-md-4 col-sm-6 col-12 mb-3 mt-3">
          <div class="card">
            <a href="<%= link.link %>" target="_blank" class="header text-decoration-none">
              <img src="<%= link.icon %>" class="img-box"></img>
              <span class="title"> <%= link.name %></span>
            </a>
            <div class="content d-flex justify-content-between">
              <a href="/edit/<%= link.slug %>" type="button" class="edit-button">
                <svg class="edit-svgIcon" viewBox="0 0 512 512">
                                  <path d="M410.3 231l11.3-11.3-33.9-33.9-62.1-62.1L291.7 89.8l-11.3 11.3-22.6 22.6L58.6 322.9c-10.4 10.4-18 23.3-22.2 37.4L1 480.7c-2.5 8.4-.2 17.5 6.1 23.7s15.3 8.5 23.7 6.1l120.3-35.4c14.1-4.2 27-11.8 37.4-22.2L387.7 253.7 410.3 231zM160 399.4l-9.1 22.7c-4 3.1-8.5 5.4-13.3 6.9L59.4 452l23-78.1c1.4-4.9 3.8-9.4 6.9-13.3l22.7-9.1v32c0 8.8 7.2 16 16 16h32zM362.7 18.7L348.3 33.2 325.7 55.8 314.3 67.1l33.9 33.9 62.1 62.1 33.9 33.9 11.3-11.3 22.6-22.6 14.5-14.5c25-25 25-65.5 0-90.5L453.3 18.7c-25-25-65.5-25-90.5 0zm-47.4 168l-144 144c-6.2 6.2-16.4 6.2-22.6 0s-6.2-16.4 0-22.6l144-144c6.2-6.2 16.4-6.2 22.6 0s6.2 16.4 0 22.6z"></path>
                                </svg>
              </a>
              <a onclick="openConfirmationModal('<%= link.slug %>')" class="delete-button">
                <svg class="delete-svgIcon" enable-background="new 0 0 48 48" height="48px" id="Layer_1" version="1.1" viewBox="0 0 48 48" width="48px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g id="Layer_3"><path d="M24,0C10.745,0,0,10.745,0,24s10.745,24,24,24s24-10.745,24-24S37.255,0,24,0z M35.997,33.877l-2.122,2.12   L24,26.123l-9.874,9.874l-2.123-2.12l9.876-9.876l-9.876-9.876l2.12-2.122L24,21.88l9.878-9.877l2.119,2.122l-9.875,9.876   L35.997,33.877z" fill="#241F20"/></g></svg>
              </a>
            </div>
          </div>
        </div>
        <% }) %>
      </div>
    </div>
  </div>
</div>
<%- include('../partials/addForm.ejs'); %>
<%- include('../partials/delete.ejs'); %>
<%- include('../partials/footer.ejs'); %>
