<%- include('../partials/head.ejs'); %>
<%- include('../partials/nav.ejs'); %>

<div class="mt-5">
<%- include('../partials/card.ejs'); %>
</div>
<%- include('../partials/addForm.ejs'); %>


<%- include('../partials/footer.ejs'); %>
